# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Historial y Datos Generados (Causan errores por tamaño/sincronización)
migrated_prompt_history/
public/spotify_data.json
public/blog.json
raw.json
raw_blog.json
.env.local
